/* Setting font-family for all document */

html {
    font-family: 'Montserrat', sans-serif;
}

/* Declaring glocal variables with pseudo-class */

:root {
    --font-type: 'Montserrat';
    --width: 100%;
}

/* Defining background for index.html and formsubmited.html */
.main-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-img.png');
    background-size: cover;
    opacity: 1;
    flex-direction: column;
}

.main-form-sent {
    height: 100vh;
    background: linear-gradient(0deg, rgba(225,142,56,1) 0%, rgba(253,210,29,1) 35%, rgba(246,238,203,0.9476613562091504) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Positioning logo */
.logo {
    position: absolute;
    width: 10%;
    top: 3%;
    left: 2%;
}

/* Styling of unique index.html elements */

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 460px;
    margin-top: 7%;
    background: #ffffff;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 8px;
    color: #201F1F;
    font-family: var(--font-type);
}

.recomendation-form {
    width: var(--width);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    background: #ffffff;
    padding: 3%;
}


.form-title {
    font-weight: 600;
    padding-bottom: 5%;
    font-size: 1.5em;
}

.input-control {
    margin-bottom: 5%;
}

input {
    width: 60%;
    padding: 2%;
    margin-left: 5%;
    font-family: var(--font-type);
}

.span-name {
    display: none;
    font-family: var(--font-type);
    font-size: 0.5em;
    color: #FF3333;
    width:100%;
    padding-left: 28%;
}

.span-email {
    display: none;
    font-family: var(--font-type);
    font-size: 0.5em;
    color: #FF3333;
    width:100%;
    padding-left: 28%;
}

.email {
    margin-left : 13%;
    
}

.message {
    height: 100%;
    width: var(--width);
    box-sizing: border-box;
}

.message label {
   padding-bottom: 2%;
   display: block;
}

.message textarea {
    width: var(--width);
    height: 80px;
    padding: 3%;
    margin-top: 2%;
    box-sizing: border-box;
    border-radius: 3px;
    border-style: inset;
    font-family: var(--font-type);
}

::placeholder {
    color: #201F1F;
    font-family: var(--font-type);
    font-size: 1em;
    opacity: 0.5;
}

.message::placeholder {
   display: block;
}

.container-bt {
    display: flex;
    justify-content: center; 
    width: 0 auto;
    margin-bottom: 3%;
}

.submit {
    width: 40%;
    font-family: var(--font-type);
    font-size: 1em;
    font-weight: bold;
    padding: 3%;
    border-radius: 5px;
    border: none;
    background: #FDD21D;
}

.submit:hover {
    background: linear-gradient(90deg, rgba(225,142,56,1) 0%, rgba(253,210,29,1) 35%, rgba(246,238,203,0.9476613562091504) 100%);
    transition: 3s ease-in-out;
}

.img-credit-container {
    display: flex;
    justify-content: flex-end;
}

.img-credits {
    color: #201F1F;
    font-family: var(--font-type);
    font-size: 0.5em;
}

/* Styling of unique form-submited.html elements */

/* Defining container dimensions, display, spacing and color */
.submited-msg {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    min-height: 300px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 10%;
    padding: 3%;
}

/* Adding style to title and resizing check mark image */
.submited-msg h1 {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.check-mark {
    width: 10%;
}


/* Responsive layout for mobile */

@media (max-width: 768px) {

    /* Positioning logo for index.html and form-submited.html */

    .logo {
        width: 20%;
    }

    /* Set up style for unique elements in the index.html */

    .container-form {
        width: 90%;
    }

    .recomendation-form {
        width: 80%;
    }

    input {
        width: 90%;
    }

    .input-control label {
        display: block;
        
    }

    .input-control input { 
        display: block;
        margin-left: 0;
        margin-top: 2%;

    }

    .span-name {
        padding: 0;
    }

    .span-email {
        padding: 0;
    }

    .img-credits {
        padding-top: 20px;
    }

    /* Set up style for unique elements in form-submited.html */

    .submited-msg {
        width: 80%;
        min-height: 200px;
        }
    
        .submited-msg h1 {
            font-size: 1.2em;
            text-align: center;
            padding: 0.5;
        }
    
        .check-mark {
            width: 15%;
        }
    
    }    
